Resources:
  UserTable:
    Type: AWS::DynamoDB::Table
    Properties:
      AttributeDefinitions:
        - AttributeName: "userId"
          AttributeType: "S"
        - AttributeName: "email"
          AttributeType: "S"
      KeySchema:
        - AttributeName: "userId"
          KeyType: "HASH"
      GlobalSecondaryIndexes:
        - IndexName: "email-index"
          KeySchema:
            - AttributeName: "email"
              KeyType: "HASH"
          ProvisionedThroughput: {ReadCapacityUnits: 2, WriteCapacityUnits: 2}
          Projection: { ProjectionType: ALL }
      ProvisionedThroughput: {ReadCapacityUnits: 2, WriteCapacityUnits: 2}
  AllowDynamoDBAccessPolicy:
    Type: AWS::IAM::ManagedPolicy
    Properties:
      PolicyDocument:
        Id: UserTableAccessPolicy
        Statement:
        - Action: [ 'dynamodb:BatchWriteItem', 'dynamodb:PutItem', 'dynamodb:DeleteItem', 'dynamodb:GetItem', 'dynamodb:Scan', 'dynamodb:Query', 'dynamodb:UpdateItem' ]
          Effect: Allow
          Resource:
            - Fn::GetAtt: [UserTable, Arn]
            - { "Fn::Join" : [ "", [ { "Fn::GetAtt" :["UserTable", "Arn" ] }, "/index/email-index" ] ] }
          Sid: AllowDynamoAccess
        Version: '2012-10-17'
      Roles: [ aws-elasticbeanstalk-ec2-role ]