.container {
    margin-top: 30px;
}

button {
    width: 150px;
    margin-bottom: 20px;
}

header a.brand {
    text-decoration: none;
    font-size: 32px;
    font-family: Roboto, sans-serif;
    color: black;
    letter-spacing: 6px;
}

header a {
    margin-left: 15px;
}

/* authentication */
#login,
#signup {
    display: block;
}

#authentication,
#logout,
#authenticationVerificationCode {
    display: none;
}